h2 {
  color: white;
  /* background-color: rgb(66 66 206 / 56%); */
  width: fit-content;
  padding: 2px 15px 5px;
  border-radius: 5px;
}

.subhead {
  margin-left: 50px;
}
.grid {
  margin-bottom: 200px;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 100%;
}

@media only screen and (max-width: 376px) {
  /* For mobile phones: */
  #root {
    width: 480px;
    height: 100%;
  }
}
@media only screen and (max-width: 415px) {
  /* For mobile phones: */
  #root {
    width: 420px;
    height: 100%;
  }
}
