/* .mainContact{

    margin-bottom: 180px;
}

.Contact {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background: inherit;


}

.Contact label {
    text-align: center;
    display: block;
    color: white;
}

.Contact h3 {
    font-size: 20px;
    color: White;
    margin-bottom: 30px;
}

.Contact input,
.Contact textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    font-family: 'Roboto',
        sans-serif;
}

.Contact button {
    background: var(--secondary);
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    float: none;
    font-size: 16px;

}

.Contact button:hover {
    background: var(--secondary-light);
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');
* {
    padding: 0;
  
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

.mainContact {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    margin-top:20px;
    margin-bottom:20px;
   
}

.mainContact:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}


.left {
    background: url("../images/G-W-logo.png") no-repeat center;
    background-size: auto;
    height: 100%;
}

.right {
    padding: 25px 40px;
    background-color: #6573c3;
    
}

.Contact{

    background-color:initial;
}


.contact-header {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 35px;
    font-size: 30px;
    
}

.contact-header:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    border-radius: 5px;
}

.field:hover {
    background-color: rgba(238, 229, 229, 0.548);
}

textarea {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    /* background-color: #2ecc71; */
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: #27ae60;
}

.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}