/* Styles for modal forms */

form {
  max-width: 600px;
  min-width: 450px;
  margin: 0 auto;
  height: auto;
  background-color: whitesmoke;
  box-sizing: border-box;
}
p {
  color: red;
}
label {
  text-align: left;
  display: block;
}
p span,
label span {
  font-weight: bold;
}
p::before:not(p.firstLine) {
  display: inline;
  content: "⚠ ";
}
p.firstLine {
  color: black;
}
input.formInput {
  width: calc(100% - 30px);
  display: block;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px 15px;
  margin-bottom: 10px;
}
input.formInput:active,
input.formInput:hover {
  border: orchid 1px solid;
  background-color: lightgoldenrodyellow;
}
.form-btns {
  display: flex;
  justify-content: space-between;
}
button[type="submit"] {
  padding: 10px 25px;
  color: whitesmoke;
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  float: left;
  margin-top: 20px;
}
button[type="reset"] {
  padding: 10px 25px;
  color: whitesmoke;
  background-color: var(--secondary-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  float: right;
  margin-top: 20px;
}
button:hover {
  transition: 0.3s all;
  filter: brightness(85%);
}
select {
  display: inline;
  display: block;
  border-radius: 5px;
  background-color: lightgray;
  border: grey 1px solid;
}
select:hover {
  border: orchid 1px solid;
  background-color: lightgoldenrodyellow;
}
