/* Component for styling the modals */

button.SignUp {
  background-color: darkviolet;
  color: white;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid darkblue;
  border-radius: 5px;
}
button.SignUp:hover {
  background-color: #fff;
  color: darkviolet;
}

button.LogIn {
  background-color: #1e88e5;
  color: white;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid darkblue;
  border-radius: 5px;
}
button.LogIn:hover {
  background-color: #fff;
  color: #1e88e5;
}

button.LogOut {
  background-color: #9500ae;
  color: white;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #2c387e;
  border-radius: 5px;
}
button.LogOut:hover {
  background-color: #fff;
  color: #dd33fa;
}
