/* Component for styling the modals */

button.SignUp {
  background-color: var(--secondary);
  color: white;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid darkblue;
  border-radius: 5px;
}
button.SignUp:hover {
  background-color: var(--secondary-light);
  color: white;
}

button.LogIn {
  background-color: var(--secondary);
  color: white;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #00008b;
  border-radius: 5px;
}
button.LogIn:hover {
  background-color: var(--secondary-light);
  color: white;
}
