/* Style for TopBarMenu (left-side) + additionally style for Header.js*/

.MenuItem {
  color: initial;
}
.MenuItem:hover {
  color: initial;
  background-color: var(--secondary) !important;
}

/* Style for SideBarMenu (right-side) */

.MenuItem2 {
  color: initial;
  background-color: initial;
  padding-top: 10px;
}
.MenuItem2:hover {
  color: initial;
  background-color: var(--secondary) !important;
}

/* Style for Header.js */
.GameWorldLink {
  color: inherit;
}
@media only screen and (max-width: 1300px) {
  .GameWorldLink {
    color: var(--secondary-light) !important;
  }
}
@media only screen and (max-width: 800px) {
  .GameWorldLink {
    display: none !important;
  }
}
