/* Style for TopBarMenu (left-side) */

.MenuItem {
  color: initial;
}
.MenuItem:hover {
  color: initial;
  background-color: var(--secondary) !important;
}
/* .MuiPaper-root{
  background-color: var(--primary) !important;
} */