:root {
  --primary: #2c387e;
  --primary-light: #6573c3;
  --primary-opacity: rgb(57 74 167 / 42%);
  --secondary: #9500ae;
  --secondary-light: #dd33fa;
}
/* alternatywa: #9F0D1CF2 */
/* alternatywa2: #871073 */

body {
  background-image: url("./images/zane-lee-IHj0xtWtLKE-unsplash.jpg");
  background-color: black;
}

div#root {
    overflow-x: hidden;
}

.App {
  text-align: center;
}

.slider {
  width: 27%;
  margin: auto;
}

.content {
  position: relative;
  /* background-color: rgba(255, 255, 255, 0.476); */
  background-color: black;
  /* padding: 10px; */
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-weight: 600;
  letter-spacing: 4px;
}

.react-3d-carousel {
  margin: 20px 0;
}

.carouselContainer {
  min-height: 350px;
}

.topGameImg {
  max-height: 150px;
  width: fit-content;
}

.container-catalog {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}

.topGameImg-catalog {
  max-height: 150px;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  padding: 1px;
  /* background-color: var(--primary); */
  background-color: #a8a8a8;
  border-radius: 5px;
  left: 0;
}

.brightness:hover {
  filter: brightness(1.3);
}

.shadow {
  box-shadow: -25px 7px 41px 0 var(--primary-opacity);
}

.topGamesContainer {
    padding: 5px;
    background-color: var(--primary-opacity);
    justify-content: center;
    
    border-radius: 7px;
    max-width: 1100px;
}

.topGamesContainer-catalog {
  padding: 5px;
  /* background-color: var(--primary-opacity); */
  border-radius: 7px;
  text-align: center;
}

h2 {
  color: white;
  background-color: var(--primary);
  width: fit-content;
  padding: 2px 15px 5px;
  border-radius: 5px;
}

.paperInnerStyle {
  background-color: black;
  padding: 15px;
  color: white;
  width: 268px;
}

.paperInnerStyle h3 {
  height: 40px;
}

.MuiGrid-grid-xs-true {
  display: inline;
}

.side-by-side {
  display: flex;
  align-items: flex-start;
  padding: 30px 20px;
}

.sidebarHeader {
  margin-bottom: 10px;
  margin-top: 50px;
}

.content-sidebar {
  flex: 150px 0 0;
  background-color: var(--primary-opacity);
  padding: 20px;
  border-radius: 7px;
}

li {
  padding: 0 10px 10px;
  display: flex;
  align-items: flex-end;
}

.content-sidebar span {
  margin-left: 10px;
}

h3.galleryHeader {
  width: inherit;
  color: white;
  text-align: center;
}

.game-info {
  text-align: start;
  color: white;
  margin-left: 70px;
}
.game-info.first {
  min-width: 22vw;
}

.game-info.second {
  min-width: 20vw;
  margin: 0;
}
.content-game {
    /* display: flex; */
    flex-direction: inherit;
    /* background-color: #000000d9; */
    background-color: black;
    padding: 40px 0 40px 80px;
    border-radius: 10px;
    margin-left: 11vw;
    border-color: var(--secondary);
    border-width: 1px;
    border-style: ridge;
    min-width: 780px;
}
.content-game1 {
  display: flex;
  flex-direction: inherit;
}
.platform-list{
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  max-width: 355px;
  flex-wrap: wrap;
}
.platform-list p {
  margin-bottom: 0;
}
.inline {
  display: inline-flex;
  margin: 10px;
}
.game-page {
  margin-top: 50px;
  text-align: center;
  min-height: 100vh;
}

.game-data {
  text-align: start;
  color: white;
  /* margin-left: 70px; */
  width: 60vw;
  margin: 30px auto;
  background-color: black;
  border-radius: 5px;
  padding: 20px;
}
.game-header {
  /* color: white; */
  color: #bbc5ff;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 1px;
}

.game-header-span {
  margin: 0 8px;
  color: white;
  background-color: #1d1d1d;
  /* background-color: #282828; */
  padding: 2px;
  border-radius: 3px;
  line-height: 29px;
}
/* .game-header-span {
  margin: 0 8px;
  background-color: #282828;
  padding: 2px;
  line-height: 29px;
} */

.game-description {
  line-height: 1.7;
  word-spacing: 5px;
}

.btn-read-more {
  display: inline-flex;
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
}

.btn-read-more:hover {
  background-color: var(--secondary-light);
}

.MuiAppBar-colorPrimary {
  background-color: var(--primary) !important;
}

.search-page {
    overflow: hidden;
}
.select-games {
  font-weight: 600;
  width: 255px;
  padding: 5px 20px;
  background-color: #6573c3;
  display: inline-flex;
  letter-spacing: 1px;
  font-size: 15px;
}
.select-games:hover {
  background-color: var(--primary);
  color: white;
}
.selects {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 85vw;
}
.option:hover {
  background-color: var(--primary-light);
}

.checkbox label {
  width: 50%;
  margin: 0 10px;
}

.checkbox {
  border-radius: 5px;
  border: grey 1px solid;
  justify-content: center;
}
input[type="checkbox"] {
  margin-right: 2vw;
}

iframe {
  max-width: 95vw;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

@media screen and (max-width: 1300px) {
    .sticky-box{
        display: none;
    }
    .active {
        width: 100vw;
        margin: 0;
        position: absolute;
        left: 0;
        top: 100px;
    }

    .active a {
        /* height: 280px; */
        width: 400px !important;
    }
    
    .slider-left, .slider-right{
        display: none !important;
    }
    .mobile-hide {
        display: none;
    }
    .makeStyles-inputInput-7 {
        width: 100vw !important;
    }
    .makeStyles-root-16 {
      flex-grow: 1;
      width: auto !important;
      margin: 0;
  }
  .makeStyles-root-19, .makeStyles-root-8 {
    margin: auto !important;
  }
    .slider-single-content img {
        object-fit: cover;
    }

    .container-catalog {
        width: auto;
        border-color: var(--secondary);
        /* border-width: 1px; */
        border-style: ridge;
        border-radius: 10px;
        background-color: black;
        margin: 5px;
        width: 84vw;
    }
    .game-info.first h3 {
      text-align: center;
      background-color: #9500ae;
      letter-spacing: 2px;
    }
    .topGameImg-catalog {
        position: relative;
    }
    .topGamesContainer-catalog {
      padding: 5px 0;
    }
    .content-game {
        display: block;
        min-width: auto;
        margin: 0;
        padding: 0;
        border: none;
    }
    .MuiButton-label {
        display: block !important;
    }
    .game-info {
        padding: 0 10px;
        margin: 0;
    }
    .sidebar {
      display: none;
    }
    
}
.video-responsive {
  max-width: 100vw;
}

@media screen and (min-width: 1301px) {
    .desktop-hide {
        display: none;
    }
    .slider-single-content img {
        object-fit: contain;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, 
        rgba(0,0,0,0.05) 0%, 
        rgba(0,0,0,1) 20%, 
        rgba(0,0,0,1) 50% ,
        rgba(0,0,0,1) 80%, 
        rgba(0,0,0,0.05) 100%);
    }
    .hr-visible {
      display: none;
    }
}
@media screen and (max-width: 600px) {
    .game-img img, .game-data {
      width: 88vw;
    }
    .select-games {
      margin-bottom: 20px;
      width: 80vw;
    }
    .selects {
        display: block;
    }
    .inline {
      display: block;
    }
    .checkbox {
      max-width: 71vw;
      justify-content: flex-start;
    }
    .checkbox label {
      margin: 0;
    }
    input[type="checkbox"] {
      margin-right: 6vw;
  }
  select * {
    max-width: 300px;
  }
  .content-game1 {
    display: block;
  }
  .game-info.first div {
    text-align: center;
  }
}
