body {
    background-image: url("./images/zane-lee-IHj0xtWtLKE-unsplash.jpg");
    background-color: black;
}

.App {
    text-align: center;
}

.slider {
    width: 27%;
    margin: auto;
}

.content {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.476);
    padding: 10px;
}

.react-3d-carousel {
    margin: 20px 0;
}

.carouselContainer {
    min-height: 350px;
}

.topGameImg {
    max-height: 150px;
    width: fit-content;
}

.topGameImg-catalog {
    max-height: 150px;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    padding: 1px;
    background-color: #3f51b5;
    border-radius: 5px;
    left: 0;
}

.topGamesContainer {
    padding: 5px;
    background-color: rgb(57 74 167 / 42%);
    border-radius: 7px;
    max-width: 1100px;
}

.topGamesContainer-catalog {
    padding: 5px;
    background-color: rgb(57 74 167 / 42%);
    border-radius: 7px;
    text-align: center;
}

h2 {
    color: white;
    background-color: rgb(66 66 206 / 56%);
    width: fit-content;
    padding: 2px 15px 5px;
    border-radius: 5px;
}

.paperInnerStyle {
    background-color: black;
    padding: 15px;
    color: white;
}

.side-by-side {
    display: flex;
    align-items: flex-start;
    padding: 30px 20px;
}

.sidebarHeader {
    margin-bottom: 10px;
    margin-top: 50px;
}

.content-sidebar {
    flex: 150px 0 0;
    background-color: rgb(57 74 167 / 42%);
    padding: 20px;
    border-radius: 7px;
}

li {
    padding: 0 10px 10px;
    display: flex;
    align-items: flex-end;
}

.content-sidebar span {
    margin-left: 10px;
}

h3.galleryHeader {
    width: inherit;
    color: white;
    text-align: center;
}

.game-info {
    text-align: start;
    color: white;
    margin-left: 20px;
}
.game-info.first {
    min-width: 25vw;
}

.game-info.second {
    min-width: 20vw;
    margin: 0;
}
.content-game {
    display: flex;
    flex-direction: inherit;
    background-color: #000000ad;
    padding: 40px 0 40px 80px;
    border-radius: 10px;
    margin-left: 11vw;
    border-color: red;
    border-width: 1px;
    border-style: ridge;
}
